<a href="https://colab.research.google.com/github/RoshniK-23/Python/blob/main/Basic_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Sum of N number

In [ ]:
n = int(input())
sum = 0
for i in range(n+1):
    sum+=i
print(sum)

5
15

2.Sum of the Numbers in a Given Interval

In [ ]:
n1 = int(input())
n2 = int(input())
sum = 0
for i in range(n1,n2+1):
    sum+=i
print(sum)

2
5
14

3.Greatest of the Two Numbers

In [ ]:
a = int(input())
b = int(input())
def greatest_Of_Two_Numbers(num1, num2):
  if a > b:
    return a
  else :
    return b
greatest_Of_Two_Numbers(a,b)

3
5

5

4.Greatest of the Three Numbers

In [ ]:
a = int(input())
b = int(input())
c = int(input())
def greatest_Of_Two_Numbers(a,b,c):
  if a > b and a > c:
    return a
  elif b > a and b > c:
    return b
  else:
    return c
greatest_Of_Two_Numbers(a,b,c)

23
6
7

23

5.Check Whether a Year is a Leap Year or Not

In [ ]:
year = int(input())
if year%4 == 0 and year%100 != 0:
  print("Leap Year")
elif year%400 == 0:
  print("Leap Year")
else:
  print("Non Leap Year")

2024
Leap Year

6.Check Whether a Number is a Prime or Not

In [ ]:
n = int(input())
for i in range(2,n):
  if n%i == 0:
    print("Non Prime Number")
    break
  else:
    print("Prime Number")
    break

10
Non Prime Number

7.Prime Numbers in a Given Interval

In [ ]:
n1 = int(input())
n2 = int(input())
prime = ""
for i in range(n1, n2):
  for j in range(2,i+1):
    if i%j != 0:
      prime+=str(i)+" "
      break
    else:
      break
print(prime)

2
10
3 5 7 9

8.Sum of the Digits of a Number

In [ ]:
num = input()
sum = 0
for i in num:
  sum+=int(i)
print(sum)

234
9

9.Reverse of a Number

In [ ]:
num = int(input())
reverse = ""
while num > 0:
  digit = num%10
  num = num//10
  reverse+=str(digit)
print(reverse)

123
321

10.Check Whether or Not the Number is a Palindrome

In [ ]:
num = int(input())
reverse = ""
number = str(num)
while num > 0:
  digit = num%10
  num = num//10
  reverse+=str(digit)
if number == reverse:
  print("Palindrome")
else:
  print("Not a Palindrome")

1221
Palindrome

11.Check Whether a Given Number is an Armstrong Number or Not

In [ ]:
num = int(input())
a = len(str(num))
number = num
arm = 0
while num > 0:
  digit = num%10
  num = num//10
  arm += digit**a
if arm == number:
  print("Armstrong Number")
else:
  print("Not an Armstrong Number")

1634
Armstrong Number

12.Armstrong Numbers in a given Range

In [ ]:
n1 = int(input())
n2 = int(input())
for i in range(n1, n2):
  a = len(str(i))
  number = i
  arm = 0
  temp = i
  while temp > 0:
    digit = temp%10
    temp = temp//10
    arm += digit**a
  if arm == number:
    print(i)

150
160
153

 13.Fibonacci Series up to Nth Term

In [3]:
num = int(input())
n1, n2 = 0, 1
print("Fibonacci Series:" , n1 , n2, end = " ")
for i in range(2,num):
  n3 = n1+n2
  n1 = n2
  n2 = n3
  print(n3, end = " ")
print()

10
Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

14.Nth Term of the Fibonacci Series

In [5]:
num = int(input())
n1, n2 = 0, 1
for i in range(2,num):
  n3 = n1+n2
  n1 = n2
  n2 = n3
print(n3)

10
34

15.Factorial of a number

In [8]:
n = int(input())
fact = 1
for i in range(1,n+1):
  fact *= i
print(fact)

5
120

16. Power of a Number

In [9]:
base = int(input())
power = int(input())
print(base**power)

2
3
8

17.Factors of a Number

In [15]:
num = int(input())
factors = ""
for i in range(2,num):
  if num%i == 0:
    factors+=str(i)+" "
print(factors)

10
2 5

18.Check Whether or Not the Number is a Strong Number

In [25]:
num = int(input())
number = num
result = 0
while num > 0:
  digit = num%10
  num = num//10
  value = 1
  for i in range(1,digit+1):
    value = value * i
  result += value
if number == result:
  print("It's a Strong Number")
else:
  print("It's not a Strong Number")

145
It's a Strong Number

19.Perfect Number

In [29]:
num = int(input())
factors = []
for i in range(1,num):
  if num%i == 0:
    factors.append(i)
print(factors)
sum = 0
for j in factors:
  sum = sum + j
if sum == num:
  print("Perfect Number")
else:
  print("Not a Perfect Number")

28
[1, 2, 4, 7, 14]
Perfect Number

20.Automorphic number

In [32]:
num = int(input())
square = num**2
mod = pow(10 ,len(str(num)))
if square%mod == num:
  print("Automorphic Number")
else:
  print("Not an Automorphic Number")

376
Automorphic Number

21.Harshad number

In [35]:
num = int(input())
number = num
denominator = 0
while num > 0:
  digit = num%10
  num = num//10
  denominator += digit
print(number//denominator)

408
34

22.Abundant Number

In [37]:
num = int(input())
sum_of_factors = 0
for i in range(1,num):
  if num%i == 0:
    sum_of_factors += i
if sum_of_factors > num:
  print("Abundant Number")
else:
  print("Not an Abundant Number")

21
Not an Abundant Number

23.Friendly Pairs

In [40]:
num1 = int(input())
num2 = int(input())
sum_of_factors1 = 0
sum_of_factors2 = 0
for i in range(1,num1):
  if num1%i == 0:
    sum_of_factors1 += i
for i in range(1,num2):
  if num2%i == 0:
    sum_of_factors2 += i
if (sum_of_factors1//num1)==(sum_of_factors2//num2):
  print("Friendly Pairs")
else:
  print("Not Friendly Pairs")

6
28
Friendly Pairs

24.Prime Factors

In [8]:
num = int(input())
factors = []
for i in range(2,num):
  if num%i == 0:
    factors.append(i)
prime_factors = ""
for i in factors:
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    prime_factors+=str(i)+" "
print(prime_factors)

210
2 3 5 7

25.Perfect Square

In [14]:
num = int(input())
for i in range(1,num):
  if i**2 == num:
    print("Perfect Square")
    break
else:
  print("Not a Perfect Square")

49
Perfect Square