<a href="https://colab.research.google.com/github/RoshniK-23/Basic-Python-Programs/blob/main/Working_with_Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Working with Numbers**

1.Highest Common Factor(HCF):

In [ ]:
num1 = int(input())
num2 = int(input())
hcf = 1
for i in range(1,min(num1,num2)):
  if num1%i == 0 and num2%i == 0:
    hcf = i
print(f'Hcf of {num1} and {num2} is {hcf}')

36
60
Hcf of 36 and 60 is 12

2.Lowest Common Multiple (LCM) :

In [ ]:
num1 = int(input())
num2 = int(input())
lcm = 1
for i in range(max(num1,num2),1+(num1*num2)):
  if i%num1 == 0 and i%num2 == 0:
    lcm = i
    break
print(f'Lcm of {num1} and {num2} is {lcm}')

12
14
Lcm of 12 and 14 is 84

3.Greatest Common Divisor :

In [ ]:
num1 = int(input())
num2 = int(input())
gcd = 1
for i in range(1,min(num1,num2)):
  if num1%i == 0 and num2%i == 0:
    gcd = i
print(f'Gcd of {num1} and {num2} is {gcd}')

36
60
Gcd of 36 and 60 is 12

4.Binary to Decimal to conversion :

In [ ]:
binary = input("Enter a binary number:" )
decimal = int(binary,2)
print(f'Decimal value for {binary} is {decimal}')

Enter a binary number:1010
Decimal value for 1010 is 10

5.Octal to Decimal conversion :

In [ ]:
octal = input("Enter a octal number:" )
decimal = int(octal,8)
print(f'Decimal value for {octal} is {decimal}')

Enter a octal number:512
Decimal value for 512 is 330

6.Hexadecimal to Decimal conversion:

In [ ]:
hexadecimal = input("Enter a hexadecimal number:" )
decimal = int(hexadecimal,16)
print(f'Decimal value for {hexadecimal} is {decimal}')

Enter a hexadecimal number:C9
Decimal value for C9 is 201

7.Decimal to Binary conversion:

In [ ]:
decimal = int(input("Enter a decimal:" ))
binary = f'{decimal:b}'
print(f'Binary value for {decimal} is {binary}')

Enter a decimal:21
Binary value for 21 is 10101

8.Decimal to Octal Conversion:

In [ ]:
decimal = int(input("Enter a decimal:" ))
octal = f'{decimal:o}'
print(f'Binary value for {decimal} is {octal}')

Enter a decimal:148
Binary value for 148 is 224

9.Decimal to Hexadecimal Conversion:

In [ ]:
decimal = int(input("Enter a decimal:" ))
hexadecimal = f'{decimal:x}'
print(f'Binary value for {decimal} is {hexadecimal}')

Enter a decimal:2545
Binary value for 2545 is 9f1

10.Binary to Octal conversion :

In [ ]:
binary = input("Enter a binary number:" )
decimal = int(binary,2)
octal = f'{decimal:o}'
print(f'Octal value for {binary} is {octal}')

Enter a binary number:1010
Octal value for 1010 is 12

11.Octal to Binary conversion :

In [ ]:
octal = input("Enter a octal number:" )
decimal = int(octal,8)
binary = f'{decimal:b}'
print(f'Binary value for {octal} is {binary}')

Enter a octal number:12
Binary value for 12 is 1010

12.Quadrants in which a given coordinate lies :

In [ ]:
x = int(input())
y = int(input())
if x>0 and y>0:
  print("First Quadrant")
elif x<0 and y>0:
  print("Second Quadrant")
elif x<0 and y<0:
  print("Third Quadrant")
elif x>0 and y<0:
  print("Fourth Quadrant")
elif x==0 and y==0:
  print("Origin")
elif x!=0 and y==0:
  print("On X-axis")
elif x==0 and y!=0:
  print("On Y-axis")

-3
-33
Third Quadrant

13.Permutations in which n people can occupy r seats in a classroom :

In [ ]:
N = int(input())
R = int(input())
def fact(N):
  value = 1
  for i in range(1,N+1):
    value = value * i
  return value
print(fact(N)//fact(N-R))

10
6
151200

14.Maximum number of handshakes:

In [ ]:
N = int(input())
No_of_handshakes = (N * ((N-1)/2))
print(No_of_handshakes)

30
435.0

15.Addition of two fractions:

In [ ]:
from fractions import Fraction
Frac1 = Fraction(input("Enter a fraction1 :"))
Frac2 = Fraction(input("Enter a fraction2 :"))
result = Frac1 + Frac2
print(f'Sum of fractions : {result}')

Enter a fraction1 :14/10
Enter a fraction2 :24/3
Sum of fractions : 47/5

16.Replace all 0’s with 1 in a given integer :

In [ ]:
num = input()
r = ""
for i in num:
  if i == '0':
    i = '1'
  r = r + i
print(r)

12090
12191

17.Can a number be expressed as a sum of two prime numbers :

In [ ]:
num = int(input())
primes = []
for i in range(2,num):
  is_prime = True
  for j in range(2,i):
    if i%j==0:
      is_prime = False
      break
  if is_prime:
    primes.append(i)

for i in range(len(primes)):
  for j in range(i+1,len(primes)):
    if primes[i] + primes[j] == num:
      print(f'{primes[i]} + {primes[j]} = {num}')
      break
  if primes[i] + primes[j] == num:
    break

15
2 + 13 = 15

18.Count possible decoding of a given digit sequence :

In [ ]:
def decoding(digits):
  if not digits or digits[0] == 0:
    return 0
  prev,curr = 1,1
  for i in range(1,len(digits)):
    temp = 0
    if digits[i] != '0':
      temp = curr
    else:
      0
    if '10'<=digits[i-1:i+1]<='26':
      temp+=prev
    prev,curr = curr,temp
  return curr
sequence = input("Enter a sequence of digits:")
print(f'No.of possible decodes:{decoding(sequence)}')

Enter a sequence of digits:131
No.of possible decodes:2

19.Calculate the area of a circle :

In [ ]:
from math import pi
radius = int(input("Enter the radius:"))
area = pi*radius*radius
print(f'The area of circle is {area}')

Enter the radius:3
The area of circle is 28.274333882308138

20.Find the prime numbers between 1 to 100 :

In [ ]:
primes = []
for i in range(2,100):
  is_prime = True
  for j in range(2,i):
    if i%j == 0:
      is_prime = False
      break
  if is_prime:
    primes.append(i)
print(f"Prime Numbers between 1 to 100 are {primes}")

Prime Numbers between 1 to 100 are [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

21.Calculate the number of digits in an integer :

In [ ]:
num = int(input())
print(f'The number of digits in an integer: {len(str(num))}')

16987
The number of digits in an integer: 5

In [ ]:
num = int(input())
count = 0
while num > 0:
  digit = num%10
  num = num//10
  count += 1
print(f'The number of digits in an integer: {count}')

16987
The number of digits in an integer: 5

22.Convert digit/number to words :

In [ ]:
def number_to_words(num):
  ones = ["","one","Two","Three","Four","Five","Six","Seven","Eight","Nine"]
  Teens = ["Ten","Eleven","Twelve","Thirteen","Fourteen","Fifteen","Sixteen","Seventeen","Eighteen","Nineteen"]
  Tens = ["","","Twenty","Thirty","Fourty","Fifty","Sixty","Seventy","Eighty","Ninety"]

  if num == 0:
    return "Zero"
  words = ""

  if num>= 1000:
    words += ones[num//1000] + " " + "Thousand" + " "
    num%=1000

  if num>= 100:
    words += ones[num//100] + " " + "Hundred" + " "
    num%=100

  if num>= 20:
    words += Tens[num//10] + " "
    num%=10

  if num>= 10:
    words += Teens[num - 10] + " "
  elif num>0:
    words += ones[num] + " "

  return words.strip()

num = int(input("Enter a number:"))
print(number_to_words(num))

Enter a number:5678
Five Thousand Six Hundred Seventy Eight

23.Counting number of days in a given month of a year:

In [2]:
month = int(input())
year = int(input())
if month == 2:
  if(year%4 == 0 and year%100 != 0) or year%400 == 0:
    print("Number of days = 29")
  else:
    print("Number of days = 28")
elif month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12:
  print("Number of days = 31")
else:
  print("Number of days = 30")

12
2012
Number of days = 31

24.Finding Number of times x digit occurs in a given input :

In [5]:
Num = int(input("Enter a number : "))
digit = int(input("Enter a digit : "))
print(str(Num).count(str(digit)))

Enter a number : 897982
Enter a digit : 9
2

25.Finding number of integers which has exactly x divisors:

In [11]:
Number = int(input("Enter a number: "))
divisor = int(input("Enter a divisor: "))
count = 0
for i in range(1,Number+1):
  count_factors = 0
  for j in range(1,i+1):
    if i%j == 0:
      count_factors += 1
    else:
      pass
  if count_factors == divisor:
    count += 1
print(count)

Enter a number: 7
Enter a divisor: 2
4

26.Finding Roots of a quadratic equation :

In [14]:
def roots(a,b,c):
  if a == 0:
    return -1

  D = b*b-4*a*c
  sqrt_D = D**0.5

  if D > 0:
    print("The roots are real and different")
    print(-b+sqrt_D/(2*a))
    print(-b-sqrt_D/(2*a))
  if D == 0:
    print("The roots are real and same")
    print(-b/(2*a))
  if D < 0:
    print("The roots are imaginary")
    print(-b/(2*a),"+i",sqrt_D)
    print(-b/(2*a),"-i",sqrt_D)

roots(1,4,4)

The roots are real and same
-2.0